.headline-card {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 8px 20px;
    color: #151515;
    transition: background-color .4s;
}
.headline-card:hover { color: #151515; background-color: rgba(255, 212, 0, 0.35) }
.headline-title {
    padding: 22px;
    color: #1b1b1b;
}
.headline-content {
    padding: 12px;
}
.note {
    color: #8a8a8a;
    text-align: right;
    margin-top: 10px;
}